@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  @apply font-futura;
}

.textlink {
  @apply relative cursor-pointer z-0 font-bold;
}

.textlink::after {
  @apply absolute top-[60%] z-[-1] left-[-0.1em] right-[-0.1em] bottom-0 bg-primary-700;
  content: "";
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
}

.textlink:hover::after {
  @apply top-0;
}

::selection {
  @apply bg-primary-700;
}

.grid-cols {
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}
@screen desktop {
  .grid-cols {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }
}

.font-semibold-to-extrabold {
  font-variation-settings: "wght" 600;
  transition-property: font-variation-settings;
}
.font-semibold-to-extrabold:hover {
  font-variation-settings: "wght" 800;
}
